@charset "utf-8";

/*SUB PAGE - NewsCenter 영역-*/

.sub_section{width: 100%;height: auto;}

.section_bg02{
	width: 100%;
	height: 360px; 
	background:url(../img/header-bg.jpg);
	background-position: -15px 38%;
	position: relative;
}
.section_bg02>img{
	width: 200%;
	/*height: 220px;	*/
	position: absolute;
	animation: Cloud 80s infinite;
	bottom:0;
}