@charset "utf-8";
/*index.html*/
/*section영역*/

section{width: 100%;height: 1070px;}

.section_bg01{
	width: 100%;
	height: 820px; 
	background:url(../img/header-bg.jpg)0;
}
.section_bg01>img{
	width: 300%;	
	position: absolute;
	bottom: -115px;
	animation: Cloud 80s infinite;
}
@keyframes Cloud{
	0%{left:0;}
	50%{left:-200%;}
	100%{left:0;}

}

.section_header{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.section_main{
	width: 100%;
	height: auto;
	color:#fff;
	position: absolute;
	top:280px;
}

.section_h2>h2{font-size:28px;}
.section_h2>h2>span{font-size:38px;}

.section_item{
	width: 100%;
	height: 120px;
}

.section_item>li{
	display: inline-block;
	margin:10px;
	width: 160px;
	background: #5e889e;
	border-radius:5px; 
	margin-top: 47px;
}

.section_item>li:last-child{background: #999999;}

.section_item>li>a{
	display: block;
	height: 30px;
	font-size:16px;
	padding: 4px;
	color:#fff;
}

.section_item>li>a:hover{color:#7a5e69;}

/*article영역*/

article{width: 100%;height: 310px;margin-top: -120px;position: relative;}

.article_box{width: 1200px;height: 310px;margin: 0 auto;}
.art_card{
	float: left;
	width: 400px;
	text-align: center;
}
.art_h2{padding: 15px;}

/*중간 이미지 영역*/

.content_bg{
	width: 100%;
	height: 200px;
	background:url(../img/Investment-Performance-Banner-650.jpg);
	background-size:cover;
	background-attachment: fixed;
	display: table;
}
.content_txt{
	width: 100%;
	height: 100%;
	text-align: center;
	background:rgba(0,0,0,0.5);
	display: table-cell;
	vertical-align: middle;
}

.content_txt>h3{
	color:#fff;
	padding-bottom: 30px;
}

/*<!-- section 02 영역 -->*/

#section_02{
	width: 100%;
	height: 800px;
	background: url(../img/main2-bg.png)no-repeat;
}

.section_02_bg{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}

.section_02_logo{
	width: 100%;
	height: 150px;
	text-align: center;
}

.section_02_logo>h3{
	font-size:2em;
	color: #5e889e;
	padding-top: 80px;

}
.section_02_bg>ul{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-between;
}

.section_02_bg>ul>li{
	width: 280px;
	height: 420px;
	box-shadow: 0px 0px 8px #aaacab;
	border-radius:5px;
	background: #fff;
	position: relative;
}

.sec_card{
	width: 240px;
	height: 160px;
	margin: 0 auto;
	margin-top: 20px;
	overflow: hidden;
}

.sec_card>img{
	width: 100%;
	height: 100%;
	transition:0.8s;
}

.sec_card>img:hover{transform:scale(1.2,1.2);}

.sec_title{
	padding-top: 40px;
	padding-left: 20px;
	padding-bottom: 10px;
	color: #676767;
}

.sec_txt{
	padding:0 20px;
	color: #5c5c5c;
	font-size:13px;
}

.sec_icon{
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.sec_02_logo02{
	width: 100%;
	height: 230px;
}

.sec_02_logo02>img{
	width: 100%;
	margin-top: 100px;	
}

/*<!--section 03 영역-->*/

#section_03{
	width: 100%;
	height: 430px;
	background: url(../img/quick-enquiry.jpg);
	background-size:cover;
	background-attachment: fixed;
}

.section_03_rgba{
	width: 100%;
	height: 430px;
	background: rgba(105, 129, 140, 0.8);
}

.section_03_bg{
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.section_03_logo{
	width: 100%;
	height: 130px;
	text-align: center;
}

.section_03_logo>h3{
	font-size:2em;
	color: #fff;
	padding-top: 60px;
}

.sec_03_logo02{
	width: 100%;
	height: 220px;
}

.sec_03_logo02>ul{text-align: center;}
.sec_03_logo02>ul>li{
	width: 180px;
	height: 120px;
	display: inline-block;
	margin-right: 20px;
}

/*<!--footer 영역-->*/

footer{
	width: 100%;
	height: 160px;
	background: #5c5c5c;
}

.footer_wrap{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	position: relative;
}
.left_txt{
	position: absolute;
	left: 0;
	top: 60px;
	color: #fff;
	font-size:14px;
}
.right_icon{
	position: absolute;
	right: 0;
	top: 62px;
}

.right_icon>ul{}

.right_icon>ul>li{
	display: inline-block;
	margin: 0 5px;
}

.right_icon>ul>li>a>img{
	width: 36px;
	height: 36px;
}





