@charset "utf-8";


/*SUB PAGE - Partnership 영역-*/

.sub_section{width: 100%;height: 1280px;}

.section_bg02{
	width: 100%;
	height: 360px; 
	background:url(../img/header-bg.jpg);
	background-position: -45px 100%;
	position: relative;
}
.section_bg02>img{
	width: 200%;
	/*height: 220px;	*/
	position: absolute;
	animation: Cloud 80s infinite;
	bottom:0;
}
@keyframes Cloud{
	0%{left:0;}
	50%{left:-100%;}
	100%{left:0;}

}
.sub_section_box{
	width: 1200px;
	height: auto;
	background: #fff;
	margin: 0 auto;
}
.sub_section_h3{
	width: 100%;
	height: 60px;
	text-align: center;
}
.txt01{padding-bottom: 20px;}
.txt02{padding-bottom: 40px;}

aside{width: 100%;height: auto;}
.card_box{}
