@charset"utf-8";

/*slider*/

.bx-wrapper {
		    -moz-box-shadow:none;
		    -webkit-box-shadow:none;
		    box-shadow:none;
		    border:none;
		    background: #fff;
		    margin-bottom:0;
		}
		.bx-wrapper .bx-pager{
		    bottom: 30px;
		}
.visual{position: relative;}

		.visual .prevBtn,
		.visual .nextBtn{position: absolute;
			top:50%;
			margin-top: -45px; /*img size 90px*/
			cursor:pointer;
		
		}

		.visual .prevBtn{
			left:10px; top:-525px;
			}
		.visual .nextBtn{
			right:10px; top:-525px;
			}

/*header*/

#hd{}
.hd_head{height: 120px; position: fixed;left:50%;margin-left:-630px;z-index:1;}
.hd_header{
	width: 1260px;
	height: 120px;
	_background-color: gold;
	margin: 0 auto;
	
}

.hd_header h1{
	display: block;
	color:white;
	text-align: left;
	line-height: 120px;
	font-size:3em;
	font-weight: bold;
}

.hd_header ul{position: absolute;bottom:50px;right:0;}
.hd_header ul>li{

	text-align: center;
	display: block;
	width:150px;
	float:left;
	_background-color: pink;

}
.hd_header ul>li>a{color:white;font-weight: normal;}
.hd_header ul>li>a:hover{color: #ccc;}
.hd_header ul>li>a>img{position: absolute;bottom:-15px;right: 0;}

/*main_img*/

.main_img{width: 100%;height: 100%; position: relative;}

.main_img img{width: 100%;}

.main_img .slider_txt{color:black;position: absolute;top:22%;left:26%; color:white;}

.main_img .slider_txt h3{
	display: block;
	text-align: center;
	font-size:4em;
	padding: 30px;
	text-shadow: 0px 0px 8px #000;
}
.main_img .slider_txt p{display: block;text-align: center;font-weight: normal;}
/*section*/

#section{width: 100%;height: 360px;position: relative;}
#section .section_containor{
	width: 1260px;
	height: 630px;
	_background-color:black;
	position: absolute;
	left:50%;margin-left:-630px;
	top:-447px;
	margin-top: 127px;

}

#section .section_containor ul{}

#section .section_containor>ul>li{float: left;height: 315px;width: 25%;}

#section .section_containor>ul>li:nth-child(1){width: 25%;background-image: url(../images/dd.jpg);}

#section .section_containor>ul>li:nth-child(2){width: 50%;background-image: url(../images/xx.jpg);}
#section .section_containor ul li .play_button{position: relative;}
#section .section_containor ul li .play_button img{position: absolute;bottom:100px; left: 45%;bottom: -200px;}

#section .section_containor>ul>li:nth-child(3){width: 25%;background-image: url(../images/qq.jpg);}

#section .section_containor>ul>li:nth-child(4){width: 50%;position: relative;}

#section .section_containor>ul>li:nth-child(5){width: 50%;background-image: url(../images/oo.jpg);}


#section .section_containor>ul li .containor_box1{position: relative;width: 100%;height: 100%;}

#section .section_containor>ul li .containor_box1 a{
	color:white;
	text-align: center;
	display: block;
	position: absolute;
	bottom: 12%;
	left:34%;
	font-weight:bold;
	font-size:25px;
}

#section .section_containor>ul li .containor_box2 a{
	color:white;
	font-weight:bold;
	position: absolute;
	left:43%;
	bottom:10%;
	top:245px;
	font-size:25px;
}


#section .section_containor>ul li .containor_box3 a{
	color:white;
	text-align: center;
	display: block;
	position: absolute;
	top: 39%;
	left:1064px;
	font-weight:bold;
	font-size:25px;
}


#section .section_containor .slider2>div{float: left;width:315px;height: 315px;}
#section .section_containor>ul>li .slider2 .left{line-height: 40px;padding:30px;float: left;color:#fff;width: 315px;height: 315px;background-color: #000;}
#section .section_containor>ul>li .slider2 .right{float: right;}
#section .section_containor>ul>li .slider2 .left:after{
	content:"";
	position: absolute;
	top: 50%;left:315px;
	_margin-top: -20px;
	transform:translateY(-50%);
	border-style:solid;
	border-width:20px;
	border-color: transparent transparent transparent black;
	display:block;
}
#section .section_containor>ul>li .visual2{}	
#section .section_containor>ul>li .visual2 .prevBtn2 i{cursor:pointer;color:#fff;font-size:55px;position: absolute;top:72%;left: 29%;}	
#section .section_containor>ul>li .visual2 .nextBtn2 i{cursor:pointer;color:#fff;font-size:55px;position: absolute;top:72%;left: 38%;}	

#section .section_containor ul>li .containor_box5{position: relative;width: 100%;height: 100%;}
#section .section_containor>ul li .containor_box5 a{
	color:white;
	text-align: center;
	display: block;
	position: absolute;
	top: 79%;
	left:44%;
	font-weight:bold;
	font-size:25px;
}

/*section_footer*/

.section_img{background:url(../images/section_imge.jpg) no-repeat center;width: 100%;height: 820px;}
.section_img h3{
	width: 700px;
	font-size:44px;
	margin: 0 auto;
	color:white;
	padding:50px;
	
}
.section_img p{
	text-align: center;
	width: 700px;
	margin: 0 auto;
	font-weight:normal;
	color:white;
	margin-bottom: 30px;
	
}
.section_img .section_card{
	width: 1260px;
	margin: 0 auto;
}
.section_img .section_card li{
	width: 420px;
	height: 300px;
	float: left;
	
}
.section_img .section_card .card_img{width: 315px;height: 315px;overflow: hidden}
.section_img .section_card img{
	_border: 2px solid #fff;
	margin-bottom:40px;
	cursor: pointer;
}
.section_img .section_card img:hover{

	transform: scale(1.1);
	transition:0.8s;

}
.section_img .section_card .card_txt{
	width: 315px;
	line-height: 80px;
	text-align: center;
	_border-radius:78.75px;
	border: 2px solid #fff;
	margin-top: 60px;
}
.section_img .section_card .card_txt a{color:white;}
.section_card img{width: 315px;height: 315px;}

/*body_section*/

#body_section{width: 100%;height: 315px;position: relative;margin-bottom: 60px;}
#body_section .body_containor{
	width: 1260px;
	height: 315px;
	_background-color: gold;
	position: absolute;
	left:50%;margin-left:-630px;
	

}

#body_section .body_containor ul{}

#body_section .body_containor ul li{float: left;height: 315px;width: 20%;}
#body_section .body_containor ul li:nth-child(1){width: 20%;}
#body_section .body_containor ul li:nth-child(2){width: 20%;}
#body_section .body_containor ul li:nth-child(3){width: 20%;}
#body_section .body_containor ul li:nth-child(4){width: 20%;float: left;}
#body_section .body_containor ul li:nth-child(5){width: 20%;}

#body_section .body_containor ul li img{width: 252px;height: 252px;}
#body_section .body_containor ul li img:hover{
	transform: scale(1.1);
	transition:0.8s;
	opacity:0.9;
}
#body_section .body_containor ul li h3{
	display: block;
	text-align: center;
	line-height: 30px;
	margin-top: 20px;
	font-size:15px;
}

/*body_footer*/

#body_footer{
	width: 100%;
	height: 315px;
	position: relative;
	margin-bottom: 60px;
}
#body_footer .body_containor2{
	width: 1260px;
	height: 315px;
	_background-color: gold;
	position: relative;
	left:50%;margin-left:-630px;
	

}

#body_footer .body_containor2 ul{}

#body_footer .body_containor2 ul li{float: left;height: 315px;width: 630px;background-color: red;}
#body_footer .body_containor2 ul li:nth-child(1){width: 49%;background:url(../images/footer_img1.jpg);}
#body_footer .body_containor2 ul li:nth-child(2){width: 49%;background-color: pink; position: absolute;right:0;}

#body_footer .body_containor2 li a{
	display: block;
	font-size:15px;
	font-weight:normal;
	width: 250px;
	height: 50px;
	color:white;
	text-align: center;
	border: 2px solid #fff;
	line-height: 45px;
	position: absolute;
	bottom:5%;
	left:15%;
}
/*footer*/

#ft{border-top:1px solid black;}

.ft_footer{
	width: 1260px;
	height: 120px;
	margin: 0 auto;
	position: relative;
	margin-top: 30px;
}

.ft_footer h1{
	display: block;	
	text-align: left;
	
	font-size:2em;
	font-weight: normal;
}

.ft_footer ul{position: absolute;top:10px;left:200px;}
.ft_footer li{
	float: left;
	width: 90px;
	display: block;
	text-align: center;
	font-size:13px;
	border-right: 1px solid #000;
	font-weight: bold;
}

.ft_footer li:last-child{border-right:none;}

.ft_footer p{position: absolute;left:220px;font-size:14px;}

.ft_footer .footer_box{
	width: 195px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	position: absolute;right:0;
	border: 1px solid #000;
	top:20px;
}



/*Collection_sub*/

/*#hd_sub*/
#hd_sub{background:url(../images/collection_sub_main.jpg);height: 400px;}

.hd_sub_head{height: 120px;left:50%;}
.hd_sub_header{
	width: 1260px;
	height: 120px;
	_background-color: gold;
	margin: 0 auto;
	
}

.hd_sub_header h1{
	display: block;
	color:white;
	text-align: left;
	line-height: 120px;
	font-size:3em;
	font-weight: bold;
}

.hd_sub_header h2{
	display: block;
	color:white;
	text-align: center;
	line-height: 120px;
	font-size:4em;
	font-weight: bold;
	_text-shadow: 0px 0px 8px #fff;
}

.hd_sub_header ul{
	position: absolute;
	right:322px;
	top:49px;
}
.hd_sub_header ul>li{

	text-align: center;
	display: block;
	width:150px;
	float:left;
	_background-color: pink;

}
.hd_sub_header ul>li>a{color:white;font-weight: normal;}

.hd_sub_header ul>li>a:hover{color:#ccc;}


.hd_sub_header ul>li>a>img{
	position: absolute;
	bottom:-15px;right: 0;
}

#head_sub_wrap{width: 100%;position: relative;_margin-bottom: 60px;}
#head_sub_wrap .head_sub_wrapper{width: 1260px;margin: 0 auto;}
#head_sub_wrap .head_sub_wrapper>ul{position: absolute;top:-62px;}
#head_sub_wrap .head_sub_wrapper>ul>li{
	float: left;
	width: 252px;
	background-color: #ddd;
	border-right: 1px solid #ccc;
	border-bottom: 2px solid gray;
}
#head_sub_wrap .head_sub_wrapper>ul>li:last-child{border-right:none;}
#head_sub_wrap .head_sub_wrapper>ul>li>a{
	display: block;
	text-align: center;
	line-height: 60px;
}
#head_sub_wrap .head_sub_wrapper>ul>li:hover{background-color: gray;}
#head_sub_wrap .head_sub_wrapper>ul>li>a:hover{color:white;}
#head_sub_wrap .head_sub_wrapper>ul>li>a.on{background-color: gray; color:#fff;}

#body_section{width: 100%;height: 315px;position: relative;margin-bottom: 60px;}
#body_section .body_containor{
	width: 1260px;
	height: 315px;
	_background-color: gold;
	position: absolute;
	left:50%;margin-left:-630px;
	

}
#head_sub_wrap .head_sub_wrapper .contents_navbar{width: 500px;}
#head_sub_wrap .head_sub_wrapper .contents_navbar>ul>li{
	float: left;
	line-height: 80px;
	margin-right: 15px;
	color:#ccc;
	font-size:14px;
}
#head_sub_wrap .head_sub_wrapper .contents_navbar>ul>li>i{color:gray;}
#head_sub_wrap .head_sub_wrapper .contents_navbar>ul>li>span{color:gray;}
#head_sub_wrap .head_sub_wrapper .contents_navbar>ul>li>span:nth-child(1){margin-right: 15px;}
#head_sub_wrap .head_sub_wrapper .contents_navbar>ul>li>span:nth-child(2){margin-left: 15px;}



#body_sub_section{width: 100%; margin-bottom: 180px;}
#body_sub_section .body_sub_containor{width: 1260px;margin: 0 auto;margin-bottom: 120px;}

#body_sub_section .body_sub_containor ul li{float: left;width: 252px;}



#body_sub_section .body_sub_containor ul li img:hover{
	transform: scale(1.1);
	transition:0.8s;
	opacity:0.9;
}
#body_sub_section .body_sub_containor ul li h3{
	display: block;
	text-align: center;
	line-height: 30px;
	margin-top: 20px;
	font-size:15px;

}
#body_sub_section .contents_txt{
	width: 300px;
	margin: 0 auto;
	margin-bottom: 60px;
}
#body_sub_section .contents_txt:after{
	content:"";
	display: block;
	width: 50px;
	height: 2px;
	background-color: gray;
	margin: 0 auto;

	
}
#body_sub_section .contents_txt h3{
	font-size:3em;
	color:gray;
	text-align: center;
	padding-bottom: 30px;
}

/*brand concept_sub*/

#hd_sub1{height: 400px;box-shadow: 0px 10px 50px -2px rgba(0, 0, 0, 0.14);}

.hd_sub_head1{height: 120px;left:50%;}
.hd_sub_header1{
	width: 1260px;
	height: 120px;
	_background-color: gold;
	margin: 0 auto;
	
}

.hd_sub_header1 h1{
	display: block;
	color:black;
	text-align: left;
	line-height: 120px;
	font-size:3em;
	font-weight: bold;
}

.hd_sub_header1 h2{
	display: block;
	color:black;
	text-align: center;
	line-height: 120px;
	font-size:4em;
	font-weight: bold;
	_text-shadow: 0px 0px 8px #fff;
}
.hd_sub_header1 h3{
	padding-top: 30px;
	display: block;
	color:black;
	text-align: center;	
	font-size:2em;
	font-weight: bold;
	_text-shadow: 0px 0px 8px #fff;
}
.hd_sub_header1 p{
	display: block;
	color:black;
	text-align: center;
	font-size:18px;
	font-weight: bold;
	_text-shadow: 0px 0px 8px #fff;
}
.hd_sub_header1 ul{
	position: absolute;
	right:322px;
	top:49px;
}
.hd_sub_header1 ul>li{

	text-align: center;
	display: block;
	width:150px;
	float:left;
	_background-color: pink;

}
.hd_sub_header1 ul>li>a{color:black;font-weight: normal;}

.hd_sub_header1 ul>li>a:hover{color:#ccc;}


.hd_sub_header1 ul>li>a>img{
	position: absolute;
	bottom:-15px;right: 0;
}

#section_sub{
	width: 100%;
	height: 520px;
	background-color: rgba(255, 255, 255, 0);
	margin-top: 130px;
}
#section_sub .section_contents{
	width: 1260px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	margin-top: 40px;
}

#section_sub .section_contents .contents_title{
	width: 530px;
	height: 459px;}
#section_sub .section_contents .contents_title .contents_text{
	font-size:12px;
	color:#424242;
}
#section_sub .section_contents .contents_title .contents_text>p{padding-bottom:30px;}
#section_sub .section_contents .contents_title .contents_text p>span{font-weight:bold;}

#section_sub .section_contents .contents_img{
	width: 485px;
	height: 535px;
	position: absolute;
	right:0;top:0;
}

#section_sub .section_contents .contents_img img{
	width: 275px;
	height: 534px;
}

/*NEWS_SUB*/

#hd_sub2{background:url(../images/news_sub_main.jpg);height: 400px;}

.hd_sub_head2{height: 120px;left:50%;}
.hd_sub_header2{
	width: 1260px;
	height: 120px;
	_background-color: gold;
	margin: 0 auto;
	
}

.hd_sub_header2 h1{
	display: block;
	color:white;
	text-align: left;
	line-height: 120px;
	font-size:3em;
	font-weight: bold;
}

.hd_sub_header2 h2{
	display: block;
	color:white;
	text-align: center;
	line-height: 120px;
	font-size:4em;
	font-weight: bold;
	_text-shadow: 0px 0px 8px #fff;
}

.hd_sub_header2 ul{
	position: absolute;
	right:322px;
	top:49px;
}
.hd_sub_header2 ul>li{

	text-align: center;
	display: block;
	width:150px;
	float:left;
	_background-color: pink;

}
.hd_sub_header2 ul>li>a{color:white;font-weight: normal;}

.hd_sub_header2 ul>li>a:hover{color:#ccc;}


.hd_sub_header2 ul>li>a>img{
	position: absolute;
	bottom:-15px;right: 0;
}

#head_sub_wrap2{width: 100%;position: relative;_margin-bottom: 60px;}
#head_sub_wrap2 .head_sub_wrapper2{width: 1260px;margin: 0 auto;}
#head_sub_wrap2 .head_sub_wrapper2>ul{position: absolute;top:-62px;}
#head_sub_wrap2 .head_sub_wrapper2>ul>li{
	float: left;
	width: 252px;
	background-color: #ddd;
	border-right: 1px solid #ccc;
	border-bottom: 2px solid gray;
}

#head_sub_wrap2 .head_sub_wrapper2>ul>li:last-child{border-right:none;}
#head_sub_wrap2 .head_sub_wrapper2>ul>li>a{
	display: block;
	text-align: center;
	line-height: 60px;
}

#head_sub_wrap2 .head_sub_wrapper2>ul>li:hover{background-color: gray;}
#head_sub_wrap2 .head_sub_wrapper2>ul>li>a:hover{color:white;}
#head_sub_wrap2 .head_sub_wrapper2>ul>li>a.on{background-color: gray; color:#fff;}

#head_sub_wrap2 .head_sub_wrapper2 .contents_navbar2{width: 500px;}
#head_sub_wrap2 .head_sub_wrapper2 .contents_navbar2>ul>li{
	float: left;
	line-height: 80px;
	margin-right: 15px;
	color:#ccc;
	font-size:14px;
}
#head_sub_wrap2 .head_sub_wrapper2 .contents_navbar2>ul>li>i{color:gray;}
#head_sub_wrap2 .head_sub_wrapper2 .contents_navbar2>ul>li>span{color:gray;}
#head_sub_wrap2 .head_sub_wrapper2 .contents_navbar2>ul>li>span:nth-child(1){margin-right: 15px;}
#head_sub_wrap2 .head_sub_wrapper2 .contents_navbar2>ul>li>span:nth-child(2){margin-left: 15px;}


.news_contents .news_title .contents_txt1{
	width: 300px;
	margin: 0 auto;
	margin-bottom: 60px;
}
.news_contents .news_title .contents_txt1>h3{
	font-size:3em;
	color:gray;
	text-align: center;
	padding-bottom: 30px;
}
.news_contents .news_title .contents_txt1:after{
	content:"";
	display: block;
	width: 50px;
	height: 2px;
	background-color: gray;
	margin: 0 auto;	
}

.news_contents{width: 100%; margin-bottom: 40px;}
.news_contents .news_title{
	width: 1260px;
	margin: 0 auto;
}
.news_contents .news_title>ul>li{float: left;}
.news_contents .news_title .news_txt{
	width: 630px;
	height: 400px;
	background-color: #ddd;
}
.news_contents .news_title .news_txt{padding:40px}
.news_contents .news_title .news_txt>h3{font-size:2em;}

.news_contents1{width: 100%; margin-bottom: 40px; margin-bottom: 105px;}
.news_contents1 .news_title1{
	width: 1260px;
	margin: 0 auto;
}
.news_contents1 .news_title1>ul>li{}
.news_contents1 .news_title1 .news_txt1{
	width: 630px;
	height: 400px;
	background-color: #ddd;
}
.news_contents1 .news_title1 .contents_txt1{
	width: 300px;
	margin: 0 auto;
	margin-bottom: 60px;
}
.news_contents1 .news_title1 .contents_txt1>h3{
	font-size:3em;
	color:gray;
	text-align: center;
	padding-bottom: 30px;
}
.news_contents1 .news_title1 .contents_txt1:after{
	content:"";
	display: block;
	width: 50px;
	height: 2px;
	background-color: gray;
	margin: 0 auto;	
}
.news_contents1 .news_title1 .news_img1{width: 300px;height: 400px;}
.news_contents1 .news_title1 .news_img1>a:hover{color:darkblue;}

.contents_sub_img{margin-bottom: 180px;}
.contents_sub_img .sub_img_wrap{
	width: 1260px;
	height: 550px;
	margin: 0 auto;
	}
.contents_sub_img .sub_img_wrap>ul>li:nth-child(1){
	background:url(../images/about.jpg);
	width: 100%;
	height: 230px;
	margin-bottom: 90px;
}
.contents_sub_img .sub_img_wrap>ul>li:nth-child(2){
	background:url(../images/contact.jpg);
	width: 100%;
	height: 230px;
}
.contents_sub_img .sub_img_wrap>ul>li{color:white;}
.contents_sub_img .sub_img_wrap>ul>li>p{font-size:40px;padding: 40px 0 20px 65px;}
.contents_sub_img .sub_img_wrap>ul>li .up{font-size:40px;padding: 40px 0 20px 52px;}

.contents_sub_img .sub_img_wrap>ul>li>div{
	width: 200px;
	background-color: gray;
	text-align: center;
	line-height: 40px;
	margin-left: 35px;
	cursor:pointer;

}
.contents_sub_img .sub_img_wrap>ul>li>div:hover{background-color: darkblue;transition:0.8s;}

.contents_sub_img .sub_img_wrap>ul>li>div>a{
	color:white;
	font-size:18px;
}

/*about_us_sub*/

#hd_sub3{background:url(../images/aboutus_sub_main.jpg);height: 400px;margin-bottom: 50px;}

.hd_sub_head3{height: 120px;left:50%;}
.hd_sub_header3{
	width: 1260px;
	height: 120px;
	_background-color: gold;
	margin: 0 auto;
	
}

.hd_sub_header3 h1{
	display: block;
	color:white;
	text-align: left;
	line-height: 120px;
	font-size:3em;
	font-weight: bold;
}

.hd_sub_header3 h2{
	display: block;
	color:white;
	text-align: center;
	line-height: 120px;
	font-size:4em;
	font-weight: bold;
	_text-shadow: 0px 0px 8px #fff;
}

.hd_sub_header3 ul{
	position: absolute;
	right:322px;
	top:49px;
}
.hd_sub_header3 ul>li{

	text-align: center;
	display: block;
	width:150px;
	float:left;
	_background-color: pink;

}
.hd_sub_header3 ul>li>a{color:white;font-weight: normal;}

.hd_sub_header3 ul>li>a:hover{color:#ccc;}


.hd_sub_header3 ul>li>a>img{
	position: absolute;
	bottom:-15px;right: 0;
}
.hd_sub_header3 h3{
	padding-top: 30px;
	display: block;
	color:white;
	text-align: center;	
	font-size:2em;
	font-weight: bold;
	_text-shadow: 0px 0px 8px #fff;
}
.hd_sub_header3 p{
	display: block;
	color:white;
	text-align: center;
	font-size:18px;
	font-weight: bold;
	_text-shadow: 0px 0px 8px #fff;
}
.contents_txt2{
	width: 300px;
	margin: 0 auto;
	margin-bottom: 60px;
}
.contents_txt2:after{
	content:"";
	display: block;
	width: 50px;
	height: 2px;
	background-color: gray;
	margin: 0 auto;	
}
.contents_txt2 h3{
	font-size:3em;
	color:gray;
	text-align: center;
	padding-bottom: 30px;
}
.aboutus_bg{width: 100%;margin-bottom: 80px;}
.aboutus_bg>img{width: 100%;height: 400px;}

.aboutus_main{width: 100%;}
.aboutus_main .aboutus_sub{width: 1260px;margin: 0 auto;}
.aboutus_main .aboutus_sub .about_logo{width: 1260px; margin-bottom: 60px;}
.aboutus_main .aboutus_sub .about_logo>ul>li{float: left;width: 315px;}
.aboutus_main .aboutus_sub .about_logo>ul>li>a{display: block;width: 143px;margin: 0 auto;}
.aboutus_main .aboutus_sub .about_logo>ul>li>p{text-align: center;font-size:18px;}

/*contact_sub*/
#hd_sub4{background:url(../images/contact_sub_main.jpg);height: 400px;margin-bottom: 50px;}

.hd_sub_head4{height: 120px;left:50%;}
.hd_sub_header4{
	width: 1260px;
	height: 120px;
	_background-color: gold;
	margin: 0 auto;
	
}

.hd_sub_header4 h1{
	display: block;
	color:white;
	text-align: left;
	line-height: 120px;
	font-size:3em;
	font-weight: bold;
}

.hd_sub_header4 h2{
	display: block;
	color:white;
	text-align: center;
	line-height: 120px;
	font-size:4em;
	font-weight: bold;
	_text-shadow: 0px 0px 8px #fff;
}

.hd_sub_header4 ul{
	position: absolute;
	right:322px;
	top:49px;
}
.hd_sub_header4 ul>li{

	text-align: center;
	display: block;
	width:150px;
	float:left;
	_background-color: pink;

}
.hd_sub_header4 ul>li>a{color:white;font-weight: normal;}

.hd_sub_header4 ul>li>a:hover{color:#ccc;}


.hd_sub_header4 ul>li>a>img{
	position: absolute;
	bottom:-15px;right: 0;
}
.hd_sub_header4 h3{
	padding-top: 30px;
	display: block;
	color:white;
	text-align: center;	
	font-size:2em;
	font-weight: bold;
	_text-shadow: 0px 0px 8px #fff;
}
.hd_sub_header4 p{
	display: block;
	color:white;
	text-align: center;
	font-size:18px;
	font-weight: bold;
	_text-shadow: 0px 0px 8px #fff;
}

.contact_main{
	background:url(../images/contact_main.jpg);
	 width: 100%;
	 height: 300px;
	 margin-bottom: 80px;
	}

.contact_main>ul>li{text-align: center;color:white;}


