@charset "utf-8";

/*header*/
header#main_header{}
#main_header .main_until{
	border-bottom: 1px solid #ddd;
}
nav.until_menu{
	width: 980px;height: 30px;
	margin: 0 auto;
	

}
.until_menu ul.until_wrap{float: right;}
.until_menu ul.until_wrap li{
	float: left;
	position: relative;
}

.until_menu ul.until_wrap li:after{
	content:"";
	display: block;width: 1px;height: 10px;
	background-color: #ccc;
	position: absolute;top:15px;
}
.until_menu ul.until_wrap li:first-child:after{content:"";display: none;}
.until_menu ul.until_wrap li a{
	color:gray;
	display: block;
	padding: 10px;
	font-size: 12px;
}

h1{
	width: 200px;margin: 15px auto;
	text-align: center;
}
.main_menu{background-color: #1d5da4;}
.main_menu ul.main_wrap{
	width: 980px;
	height: 45px;
	margin: 0 auto;
}
.main_menu ul.main_wrap li{
	float: left;
	width: 163.33px;

}
.main_menu ul.main_wrap li a{
	display: block;
	text-align: center;
	line-height: 45px;
	color:white;
	border-left: 1px solid #2967ad;
}
.main_menu ul.main_wrap li a:last-child{border-right: 1px solid #2967ad;}

.main_menu ul.main_wrap li a:hover{background-color:skyblue;color:#1d5da4;}
