@charset "utf-8";
/*@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');*/


*{box-sizing: border-box;}
html, body{margin: 0; padding: 0;/*font-family: 'Nanum Gothic', sans-serif;*/}
header, section, article, aside, nav, footer{display: block;}
header:after, section:after, article:after, aside:after, nav:after,
footer:after{content:"";display: block;clear: both;}
ul, ol{margin: 0;padding: 0;list-style: none;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
a{text-decoration: none;}
.clear{clear: both;}

header{
	width: 300px;
	height: 100%;
	position: fixed;
	background: #fff;
}
.header-frame{
	width: 100%;
	height: 100%;
	position: relative;
}
.logo{
	width: 100%;
	height: auto;
	text-align: center;
	padding: 80px 0;

}
.logo img{
	width: 140px;
}
nav{}
nav>ul{}
nav>ul>li{
	
}
nav>ul>li>a{
	display: block;
	color: #555555;
}
.link{
	position: absolute;
	width: 100%;
	bottom: 20px;
	text-align: center;
}
.link>ul>li{
	display:inline-block;
}
.link>ul>li>a{
	padding: 0 5px;
}

section{
	width: 100%;
	height: auto;
	background: #fff;
}

article{
	width:-webkit-calc(100% - 300px);
	width:-moz-calc(100% - 300px);
	width:calc(100% - 300px);
	height: auto;
	margin-left: 300px;
}
.cont-box{
	width: 20%;
	height: 250px;
	float: left;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: 50% 50%;
}
.cont-01{
	width: 100%;
	height: 40px;
	color: #fff;
	background: #333333;
}
.cont-01 .cont-txt01{
	line-height: 40px;
	padding-left: 40px;
}
.cont-02{
	width: 60%;
	height: 500px;
	background-image: url('../img/pic1.jpg');
	-ms-background-position-y: 0;
	background-position-y: 0;
}
.cont-03{width: 40%;}
.cont-04{width: 20%; background: #6ce2fb;}
.cont-05{width: 20%; background-image: url('../img/pic2.jpg');}
.cont-06{width: 20%; background-image: url('../img/pic5.jpg');}
.cont-07{width: 40%;}
.cont-08{width: 20%; background-image: url(''../img/pic13.jpg);}
.cont-09{width: 20%;}
.cont-10{width: 40%; background: #6ce2fb;}
.cont-11{width: 20%; background-image: url('../img/pic10.jpg');}
.cont-12{width: 20%;}
.cont-13{width: 20%; background-image: url('../img/pic11.jpg');}
.cont-14{width: 100%; height: 40px; background: #333333;}
